nav{
    position: relative;
    top: 30px;
}
.chev{
    font-size: 40px;
    position: absolute;
    top: 400px;
    left: 930px;
    color: black;
}
nav ul li{
    list-style-type: none;
    display: inline;
    margin: 30px;
   cursor: pointer;
   font-size: 20px;
}
nav ul{
    position: absolute;
    right: 190px;
}
.log{
    position: absolute;
    right: 110px;
    top: 20px;
    cursor: pointer;
    font-size: 20px;
}
.icon{
    position: absolute;
    right: 70px;
    top: 20px;
    cursor: pointer;
    font-size: 25px;
    gap: 10px;
}
.shop{
   position: absolute;
   right: -40px;
   top: 0px;
}
.logo{
    font-size: 50px;
    position: absolute;
    left: 15px;
}
p{
    font-size: 30px;
    position: absolute;
    top: -30px;
    left: 30px;
    color: #1d565e;
}
a{
    text-decoration: none;
}


/*;;;;;;;;;;;;;;;;;;;;;;;;;; end ;;;;;;;;;;;;;;;;;;;;;;;*/
.end{
    width: 100%;
    height: 600px;
    background-color: #101111;
    position: absolute;
    top: 2300px;
 }
 .lui ul li{
    list-style-type: none;
    margin-bottom: 10px;
}
.lui{

     display: flex;
     flex-direction: row;
     gap: 40px;
    cursor: pointer;      
    color: aliceblue;
    position: absolute;
    right: 350px;
    top: 100px;
}
.logoo{
    font-size: 50px;
    position: absolute;
    top: 100px;
    left: 100px;
    color: aliceblue;
}
.endlink{
    position: absolute;
    bottom: 100px;
    left: 100px;
    color: aliceblue;
}

/* ;;;;;;;;;;;;;;;;;;;;;;;;;;;;; page1 ;;;;;;;;;;;;;;;;;;;;;;;;;;*/
.about{
    font-size: 45px;
    position: absolute;
    top: 250px;
    left: 200px;
    color: #1e6770;
}
.img{
    position: absolute;
    top: 350px ;
    left: 180px;
}
.prag{
    width: 450px;
    height: auto;
    position: absolute;
    right: 300px;
    top: 400px;
    font-size: 17px;
    display: flex;
    gap: 30px;
    flex-direction: column;
}
.book{
    position: absolute;
    right: 500px;
    top: 820px;
    padding: 40px;
    border-radius: 50%;
    border: 1px solid rgb(53, 94, 95);
    color: rgb(53, 94, 95);
    display: inline;
    cursor: pointer;
    padding-top: 65px;
    padding-bottom: 65px;
}
.book:hover{
    background-color: rgb(53, 94, 95);
    color: aliceblue;
}

.text{
    font-size: 50px;
    color: #1d565e;
    position: absolute;
    top: 1280px;
    left: 750px;
}
.p{
    position: absolute;
    top: 1650px;
    left: 300px;
    width: 350px;
    height: auto;
    font-size: 25px;
}
.img2{
    position: absolute;
    top: 1500px ;
    right: 200px;
}
.jenny{
    position: absolute;
    top: 1900px;
    left: 410px;
    font-size: 20px;
}